@model CrowdFundingApplication.Models.UserViewModel

@{
    ViewData["Title"] = "Профиль";
}

<div style="height: 25px;"></div>
<div class="mt-5">
    <div class="row">
        <div class="col">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" style="color: black;" aria-current="page" href="#">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black;" asp-area="" asp-controller="Profile" asp-action="CreatedProjects">Созданные проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black;" asp-area="" asp-controller="Profile" asp-action="Balance">Управление балансом</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="~/Avatars/@Model.AvatarFileName" class="rounded-circle img-fluid" style="width: 150px; height:160px;">
                    <h5 class="my-3">@Model.UserName</h5>
                    <p class="text-muted mb-4">@Model.Description</p>
                    <div class="d-flex justify-content-center mb-2">
                    </div>
                </div>
            </div>

            <hr />
            <h4 class="ml-2 mb-2">Доп. информация</h4>
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i>Возраст:</i>
                            <p class="mb-0">@Model.Age</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i>Пол:</i>
                            <p class="mb-0">
                                @if (Model.Sex == Sex.Male) ViewBag.Sex = "Мужской";
                                else ViewBag.Sex = "Женский";
                                @ViewBag.Sex
                            </p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i>Страна:</i>
                            <p class="mb-0">@Model.Country</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <i>Регион/Область:</i>
                            <p class="mb-0">@Model.City</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Имя</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.UserName </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email/Логин</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Email</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Телефон</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.PhoneNumber</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Баланс</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Balance BYN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <hr />
        <div class="row">
            <div class="col-lg-8">
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Profile" asp-action="Settings">Настройки</a>
                <br />
            </div>
            <div class="col-lg-4">
                <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">Выход</button>
                <br />
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите выйти?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Вы уверены, что хотите выйти из аккаунта? При повторном обращение к
                        веб-приложению вам необходимо будет снова авторизоваться.
                    </p>
                </div>
                <div class="modal-footer">  
                    <div class="col">
                        <a class="btn btn-danger btn-block" asp-area="" asp-controller="Account" asp-action="Logout">Да</a>
                    </div>
                    <div class="col">
                        <button class="btn btn-success btn-block" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>